* {
	vertical-align: baseline; box-sizing: border-box;

	font-feature-settings: "kern" 1, "liga" 1, "frac" 1;
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "frac" 1;  /* No variation */
    -moz-font-feature-settings: "kern" 1, "liga" 1, "frac" 1;  /* Firefox 15.0 onwards explicitly set feature values */
    -ms-font-feature-settings: "kern" 1, "liga" 1, "frac" 1;
/*    border: solid red 1px;*/
}


::-webkit-scrollbar {
    width: 14.4px;
    width: .9rem;
    background-color: #fafbfb;
}

::-webkit-scrollbar-track {
    background-color: #fafbfb;
}

::-webkit-scrollbar-thumb {
    border-radius: .9rem;
    background-color: #333;
    border: solid 4px #fefefe
}

::-webkit-input-placeholder {
    color: #d1d2d4;
}

:-moz-placeholder {
    color: #d1d2d4;
}

::-moz-placeholder {
    color: #d1d2d4;
}

:-ms-input-placeholder {
    color: #d1d2d4;
}

::-moz-selection {
    color: #fefefe;
    background: #e4b17d;
}

::selection {
    color: #fefefe;
    background: #e4b17d;
}


@font-face {
	font-family: "GT-Cinetype-Trial-Bold";
	src: url(../css/fonts/GT-Cinetype-Trial-Bold.eot);
	src: url(../css/fonts/GT-Cinetype-Trial-Bold?#iefix) format("embedded-opentype"), url(../css/fonts/GT-Cinetype-Trial-Bold.woff) format("woff"), url(../css/fonts/GT-Cinetype-Trial-Bold.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: "GT-Cinetype-Trial";
	src: url(../css/fonts/GT-Cinetype-Trial.eot);
	src: url(../css/fonts/GT-Cinetype-Trial?#iefix) format("embedded-opentype"), url(../css/fonts/GT-Cinetype-Trial.woff) format("woff"), url(../css/fonts/GT-Cinetype-Trial.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: "Miller-Text";
	src: url(../css/fonts/Miller-Text.eot);
	src: url(../css/fonts/Miller-Text?#iefix) format("embedded-opentype"), url(../css/fonts/Miller-Text.woff) format("woff"), url(../css/fonts/Miller-Text.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: "MillerBanner";
	src: url(../css/fonts/MillerBanner-Bold.eot);
	src: url(../css/fonts/MillerBanner-Bold?#iefix) format("embedded-opentype"), url(../css/fonts/MillerBanner-Bold.woff) format("woff"), url(../css/fonts/MillerBanner-Bold.ttf) format("truetype"), url(../css/fonts/MillerBanner-Bold.otf) format("opentype");
	font-weight: 400;
	font-style: normal
}
@font-face {
  font-family: 'Graphik';
  src: url('../css/fonts/Graphik-Light-Web.eot');
  src: url('../css/fonts/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/Graphik-Light-Web.woff2') format('woff2'),
       url('../css/fonts/Graphik-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

html {
	height: 100%;	
}
body {
	margin: 0;
	padding: 0;
	background-color: #FBFBFB;
	height: 100%;
}
img {

}

button {
	-webkit-appearance: none;
	width: 5rem;
	padding: .8rem 1.5rem;
	font-family: 'GT-Cinetype-Trial-Bold';
	font-size: 1rem;
	width: auto;
	background-color: #e4b17d;
	color: #FFF;
	border: none;
	cursor: pointer;
	transition: all .2s ease;
}
button:hover, button:focus {
	background-color: #333;
}

.container-fluid, #main {
	height: 100%;
}
a:link, a:visited {
	color: #e4b17d;
	text-decoration: none;
	transition: all .2s ease;
}
a:hover, a:focus, a:active {
	color: #c3996e;
}
.masthead {
	padding: 1.5rem 5%;
	text-align: center;
	background-color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 15000;
	display: -ms-flexbox;
	display: flex;
}
.masthead > *:nth-of-type(1) {
	-ms-flex: 3 20%;
	    flex: 3 20%;
}
.masthead > *:nth-of-type(2) {
	-ms-flex: 3 40%;
	    flex: 3 40%;
}
.masthead > *:nth-of-type(3) {
	-ms-flex: 3 20%;
	    flex: 3 20%;
}

.back {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	text-align: left;
}
.back span {
	transition: margin .2s ease;
}
.back:hover span {
	margin-left: -.2rem;
}
.logo {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: 1.2rem;
	transition: all .2s ease;
	text-transform: uppercase;
	letter-spacing: .1rem;
	position: relative;
}
.logo a:link, .logo a:visited {
	color: #111;
	position: relative;
	width: auto;
}
.logo a:before {
	content: '';
	position: absolute;
	left: -1.6rem;
	width: 2px;
	height: 2px;
	border: solid #333 2px;
	top: 0;
	transform: translate3d(0, 1rem, 0);
    animation: topToBottom ease 1;
    animation-fill-mode: forwards;
    animation-duration: .6s;
    animation-delay: 1s;
    transition: all 0.2s ease;
}
.logo a:after {
	content: '';
	position: absolute;
	right: -1.6rem;
	width: 2px;
	height: 2px;
	border: solid #333 2px;
	bottom: 0;
	transform: translate3d(0, -1rem, 0);
    animation: bottomToTop ease 1;
    animation-fill-mode: forwards;
    animation-duration: .6s;
    animation-delay: 1s;
    transition: all 0.2s ease;
}
/*.fade-in .logo a:before, .fade-in .logo a:after {
	animation: none;
	-webkit-animation: none;
	transform: translate3d(0, 0, 0);
}*/
.logo > div {
	display: inline-block;
	widows: auto;
}
.logo > div:hover a:link, .logo > div:hover a:visited {
	color: #e4b17d;
}
.logo > div:hover a:before {
	border: solid #e4b17d 2px;
}
.logo > div:hover a:after {
	border: solid #e4b17d 2px;
}
.sort {
	text-align: right;
	color: #999;
}
.sort.disabled {
	opacity: .3;
	pointer-events: none;
}
.sort > div {
	display: inline-block;
	padding: .5rem .8rem .6rem .8rem;
	margin: -.5rem -.8rem -.6rem -.8rem;
	transition: all 0.2s ease;
	cursor: pointer;
	border-radius: .1rem;
}
.sort > div:hover {
	background-color: #FBFBFB;
}
.sort .sort-text {
	display: inline-block;
	position: relative;
	margin-right: 1.2rem;
	text-transform: uppercase;
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .9rem;
}
.sort .sort-text:after {
	display: inline-block;
	content: '';
	position: absolute;
	top: 40%;
	right: -1.2rem;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #e4b17d;
	border-width: 5px;
	margin-left: -5px;
}
.sort svg {
	margin-bottom: -.35rem;
}


.intro {
	padding: 6rem 5% 4rem 5%;
	margin-bottom: 4rem;
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAI0lEQVQYV2NkIAIwEqGGgYaKamtr/zc3N6PYQEPrsPmWKOsAm8QEChhshVIAAAAASUVORK5CYII=
    ) repeat;
    background-size: 5px;
}
.intro h1 {
	font-family: 'GT-Cinetype-Trial-Bold';
	text-transform: capitalize;
	font-size: 6vmax;
	line-height: 1;
	text-align: center;
	margin: 0 0 1rem 0;
	color: #333;
}
.intro p {
	font-family: 'Miller-Text';
	font-size: 1.05rem;
	line-height: 1.5;
	text-align: center;
	letter-spacing: .05px;
	margin: 0 0 2rem 0;
	color: #333;
	position: relative;
}
.intro p:after {
	content: '';
	position: absolute;
	width: 2.6rem;
	height: 1px;
	left: 50%;
	bottom: -3rem;
	margin-left: -1.3rem;
	background-color: #DDD;
}


#timeline {
	padding: 2.5rem 0;
	padding-top: 8rem;
}

#timelineRow {
	position: relative;
}

/* Row heading */
.heading {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .9rem;
	text-transform: uppercase;
	position: relative;
	color: #e4b17d;
	/*margin-top: 2.2rem;
	margin-bottom: .2rem;*/
/*	padding: .6rem 1rem;
	margin-top: -2rem;

	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJElEQVQYV2NkIAIwEqGGgYaKJk6c+D8/Px/FBhpah823RFkHAJy0BApa8C4RAAAAAElFTkSuQmCC
    ) repeat;
    background-size: 4px;*/
}
.date {
	margin-top: 0;
}
.timelineRowsHeading, .timelineRowDates {
	text-align: center;
	z-index: 10000;
}
.heading:after {
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 1px;
	left: 0;
	top: .5rem;
	background-color: #e4b17d;
}

/* Media */
.timelineRowMedia {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
}
.timelineRowMedia .media {
	height: 13vmax;
	max-width: 13vmax;

	-ms-flex: 1 5rem;

	    flex: 1 5rem;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none; 

/*	background-image: url('../images/juarez1.jpg');
	background-size: cover;*/

	transition: all 0.1s ease;
	cursor: pointer;
	z-index: 1000;
	box-shadow: 0 10px 80px -40px rgba(0,0,0,0);
	position: relative;
	overflow: hidden;
}
.timelineRowMedia .media img {
	position: absolute;
	top: 22%;
	left: 0;
	width: auto;
	height: auto;
	transform: scale3d(1.80, 1.80, 1);
}
.timelineRowMedia > .media:hover {
	transform: scale3d(1.80, 1.80, 1);
	z-index: 2000;
	box-shadow: 0 0 20px 0px rgba(0,0,0,.1), 0 0 0px .5px rgba(255,255,255,.3);
}

#timeline > div .timelineRowsHeading, #timeline > div .timelineRowDates {
	opacity: 1;
	display: block;
	margin-top: 1rem;
}




.date {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .8rem;
}

.media-container {
	padding: 6.45rem 0;
	height: 100%;
}

/* Image Card */
.image-card {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none; 
}
.image-card img {
	width: 100%;
}

/* Media Card */
.media-card {
	position: relative;
	border-radius: .1rem;
/*	background-color: rgba(147,171,207,.8);*/
	/*background-color: rgba(47, 181, 57, 0.72);*/
	/*background-color: rgba(38,117,95,0.6);*/
	/*background-color: rgba(140,28,100,0.6);*/
	/*background-color: rgba(146,0,61,0.6);*/
	background-color: rgba(234, 168, 87, 0.80);
	color: #FFF;
	width: 100%;
	height: 100%;
}
.media-card-bg {
	padding: 5%;
	height: 100%;
	background-color: #ffab70;
	mix-blend-mode: lighten;
	background-color: rgba(105, 175, 162, 0.79);
}
.media-card h3 {
	font-family: 'MillerBanner';
	font-size: 3rem;
	margin: 2rem 0 2.6rem 0;
	line-height: 1;
	letter-spacing: 1px;
}
.media-card .post-information {
	border: solid 1px #FFF;
	display: -ms-flexbox;
	display: flex;
	padding: .8rem;
	position: relative;
	background: transparent;
}
.media-card .post-information:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 2.6rem;
	left: 50%;
	top: -1.3rem;
	background-color: #FFF;
}
.media-card .time-stamp {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .9rem;
	-ms-flex: 2 50%;
	    flex: 2 50%;
	text-align: center;
	letter-spacing: 1px;
/*	max-width: 4rem;
	word-wrap: ellipse;*/
}
.media-card a:link, 
.media-card a:visited,
.media-card a:link, 
.media-card a:visited {
	color: #FFF;
}
.media-card a:hover, 
.media-card a:focus, 
.media-card a:active {
	color: rgba(255, 220, 220, .9);
}
.media-card .retweets-count {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .9rem;
	-ms-flex: 2 50%;
	    flex: 2 50%;
	text-align: center;
	letter-spacing: 1px;
}
.media-card .description {
	font-family: "Graphik";
	letter-spacing: .5px;
	line-height: 1.4;
	font-size: .95rem;
	font-weight: 300;
	position: relative;
	margin-top: 4rem;
}
.media-card .source {
/*	background-color: #FFF;*/
}
.media-card .source a:link, .media-card .source a:visited {
	color: #FEFEFE;
	border-bottom: solid #FFF 1px;
	font-family: "Graphik";
	font-size: .85rem;
	display: inline-block;
	letter-spacing: 1px;
	margin-top: 1rem;
	text-transform: uppercase;
}
.media-card .source a:hover, .media-card .source a:focus, .media-card .source a:active {
	margin-left: .2rem;
	color: rgba(255, 220, 220, .9);
	border-bottom: solid rgba(255, 220, 220, .9) 1px;
}
.media-card .description:before {
	content: '';
	position: absolute;
	width: 2.6rem;
	height: 1px;
	left: 50%;
	top: -2rem;
	margin-left: -1.3rem;
	background-color: #FFF;
}
.media-card .hashtags {
	font-family: 'GT-Cinetype-Trial-Bold';
	-webkit-font-smoothing: antialiased;
	font-size: .8rem;
	position: relative;
}


.previous, .next {
	position: absolute;
	z-index: 10000;
	font-family: 'Miller';
	transition: all 0.1s ease;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none; 
}
.previous {
	left: 0;
	top: 50%;
	color: #333;
	padding: 1rem 1.2rem 1rem 1.2rem;
	background-color: rgba(240,240,240,.25);
}
.next {
	right: 0;
	top: 50%;
	color: #333;
	padding: 1rem 1.2rem 1rem 1.2rem;
	background-color: rgba(240,240,240,.25);
}
.previous:hover {
	background-color: rgba(240,240,240,.8);
	padding-left: 1rem;
	padding-right: 1.4rem;
}
.next:hover {
	background-color: rgba(240,240,240,.8);
	padding-right: 1rem;
	padding-left: 1.4rem;
}

/* Curration Pages */

/* Search */
.search {
/*	background: url('../images/juarez2.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;*/
}


.search, .story-list {
	padding: 8.45rem 5%;
	font-family: 'GT-Cinetype-Trial-Bold';
	letter-spacing: 1px;
}
.story-list h1 { 
	border-bottom: solid #e4b17d 1px;
	padding-bottom: 1rem;
}
.results {
	padding: 8.45rem 0;
	font-family: 'GT-Cinetype-Trial-Bold';
	letter-spacing: 1px;	
}
.post-information {
	padding: 2.3rem 5% 2.3rem 5%;
	background-color: #EEE;
}
.post-information .section-label {
	font-size: .9rem;
	margin-bottom: 1rem;
	color: #333;
}
.post-information input.headline {
	font-family: 'MillerBanner';
	text-transform: capitalize;
	font-size: 3.4rem;
	line-height: 1;
	text-align: center;
	margin: 0 0 .2rem 0;
	color: #333;
}
.post-information input.description {
	font-family: 'Miller-Text';
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	margin: 0 0 1rem 0;
	color: #333;
	position: relative;
}
.post-information input {
	border: none;
	background-color: transparent;
	border-bottom: solid 1px transparent;
}
.post-information input:focus {
	border: none;
	border-bottom: solid 1px #DDD;
}

/*.post-information > div { 
	display: block;
}
.post-information div input, .post-information div textarea { 
	max-width: 30rem;
	display: block;
}*/

.entry {
	padding: 2rem 5% 0 5%;
	margin: 2rem 0 0 0;
	border-top: solid #EEE 1px;
}
.entry img {
	max-width: 10rem;
}
.entry label, .post-row label {
	margin: 1rem 0 .4rem 0;
	display: block;
	font-size: .85rem;
}
.post-row {
	background-color: #EEE;
	padding: 1rem  5% 2rem 5%;
	margin: 6rem 0 6rem 0;
/*	background-color: #EEE;*/
}
.entry-submit {
	margin: 0 5%;
	border-top: solid #EEE 1px;
	margin-top: 2rem;
	padding-top: 2rem;
}
.entry .entry-title {
	margin: 0 0 .6rem 0;
}
.entry .entry-title label {
	margin-top: 0;
}
.entry .entry-check {
	display: inline-block;
	height: 100%;
	font-size: 3rem;
	width: 2rem;
}
.entry .entry-check > .middle {
	vertical-align: top;
}
.entry-photo {
	display: inline-block;
	vertical-align: top;
	margin: 0 1rem 1rem 0;
}
.entry-content {
	display: inline-block;
	vertical-align: top;
	max-width: 30rem;
	width: 100%;
}

/* List */
.story-collection {
	margin-left: 0;
	padding-left: 0;
}
.story-collection li {
	list-style: none;
	padding-bottom: .8rem;
}

/* Inputs */
input, textarea {
	padding: .6rem;
	font-family: 'Graphik';
	font-weight: 300;
	font-size: .9rem;
	letter-spacing: .5px;
	width: 100%;
	outline: none;
	border: solid #DDD 1px;
}
input:focus, textarea:focus {
	border: solid #e4b17d 1px;
}
.post-information label {
/*	border: solid red 1px;*/
	display: inline-block;
	padding: 1.2rem 0 .5rem 0;
}

@media(min-width: 28rem) {
	.masthead {
		padding: 2.5rem 5%;
	}
	#timeline {
		padding: 2.5rem 5%;
		padding-top: 11rem;
	}
	.media-container {
	}
	.search {
		padding: 8.45rem 10%;
	}
}

@media(min-width: 46rem) {

	.intro {
		padding: 6rem 5% 4rem 5%;
	}
	#timeline > div .timelineRowsHeading, #timeline > div .timelineRowDates {
		opacity: 0;
		display: none;
	}
	#timeline > div:nth-child(2n + 2) .timelineRowsHeading,
	#timeline > div:nth-child(2n + 2) .timelineRowDates {
		opacity: 1;
		display: block;
	}
	/* Heading */
	.timelineRowsHeading {
		position: absolute;
		left: 0;
		top: 4rem;
		text-align: left;
	}
	.timelineRowDates {
		position: absolute;
		left: 0;
		top: 1rem;
		text-align: left;
	}
	.heading {
		margin-top: 0;
		margin-bottom: 0;
	}
	.date {
		margin-top: 0;
	}
	.heading:after {
		content: '';
		position: absolute;
		width: 4rem;
		height: 1px;
		left: 10rem;
		top: .5rem;
		background-color: #e4b17d;
	}

	/* Search */
	.search {
		padding: 8.45rem 30%;
	}

	/* Post */
	.media-container {
		padding: 6.45rem 5%;
	}
	.media-card {
		width: 50%;
		max-width: 26rem;
		margin: 5% 0 0 5%;
	}
	.media-card-bg {
		padding: 10%;
	}
	.image-card {
		position: fixed;
		width: 90%;
	}
	.image-card.small {
		text-align: right;
		padding: 4.5%;
	}
	.image-card.small img {
		max-width: 39.35rem;
		width: auto;
	}

	/* List */
	.story-list {
		padding: 8.45rem 30%;
	}
}



/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animations */

@keyframes topToBottom {
    from {
        transform: translate3d(0, 1rem, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
/*
.top-to-bottom {
    opacity: 0;
    -webkit-animation: topToBottom ease-in-out 1;
    animation: topToBottom ease-in-out 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-delay: .33s;
    animation-delay: .33s
}*/

/* Animations */

@keyframes bottomToTop {
    from {
        transform: translate3d(0, -1rem, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-delay: .33s
}

.fade-in.two {
    animation-duration: .4s;
    animation-delay: .66s
}

.fade-in.three {
    animation-duration: .4s;
    animation-delay: .99s
}

.fade-in.four {
    animation-duration: .4s;
    animation-delay: 1.22s
}