<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ida</title>

  <link href="css/styles.css" type="text/css" rel="stylesheet" media="all">

  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="manifest" href="images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>


  <div id="main">
  <script id="timeline" type="text/template">
    <div class='masthead fade-in'>

      <div class="back"></div>
      <div class="logo">
        <div><a href="index.html">Ida</a></div>
      </div>
      <div class="sort">
      <div>
        <div class="sort-text">
          Sort
        </div>
        <svg width="23px" height="23px" viewBox="0 0 23 23">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard-52" fill="#E4B17D">
            <g id="Clock">
                <path d="M11.5,20.5 C16.4705627,20.5 20.5,16.4705627 20.5,11.5 C20.5,6.52943725 16.4705627,2.5 11.5,2.5 C6.52943725,2.5 2.5,6.52943725 2.5,11.5 C2.5,16.4705627 6.52943725,20.5 11.5,20.5 L11.5,20.5 Z M11.5,19.5 C7.081722,19.5 3.5,15.918278 3.5,11.5 C3.5,7.081722 7.081722,3.5 11.5,3.5 C15.918278,3.5 19.5,7.081722 19.5,11.5 C19.5,15.918278 15.918278,19.5 11.5,19.5 L11.5,19.5 Z" id="Oval-34"></path>
                <path d="M11.5,22.5 C17.5751322,22.5 22.5,17.5751322 22.5,11.5 C22.5,5.42486775 17.5751322,0.5 11.5,0.5 C5.42486775,0.5 0.5,5.42486775 0.5,11.5 C0.5,17.5751322 5.42486775,22.5 11.5,22.5 L11.5,22.5 Z M11.5,21.5 C5.9771525,21.5 1.5,17.0228475 1.5,11.5 C1.5,5.9771525 5.9771525,1.5 11.5,1.5 C17.0228475,1.5 21.5,5.9771525 21.5,11.5 C21.5,17.0228475 17.0228475,21.5 11.5,21.5 L11.5,21.5 Z" id="Oval-34"></path>
                <path d="M15.3010153,14.6342806 L11.8409535,11.4085283 L12,11.7742477 L12,11.7741874 L12,11.7740069 L12,11.773287 L12,11.770425 L12,11.7591177 L12,11.7150154 L12,11.5476199 L12,10.9501465 L12,9.13712386 L12,6.5 L12,6 L11,6 L11,6.5 L11,9.13712386 L11,10.9501465 L11,11.5476199 L11,11.7150154 L11,11.7591177 L11,11.770425 L11,11.773287 L11,11.7740069 L11,11.7741874 L11,11.7742477 L11,11.991691 L11.1590465,12.1399671 L14.6191083,15.3657194 L14.9848277,15.7066729 L15.6667347,14.9752341 L15.3010153,14.6342806 L15.3010153,14.6342806 Z" id="Line"></path>
              </g>
          </g>
      </g>
      </svg>
      </div>
      </div>
    </div>

    <div id="timeline" class="fade-in two">

      <div class="intro">
        <h1><%= title %></h1>
        <p><%= description %></p>
      </div>

        <% _.each(rows, function(r) { %>
            <div id="timelineRow" class="">

          <div class="timelineRowsHeading">
            <h2 class="heading fade-in three">  <%= r.heading.split("+")[0] %></h2>
          </div>
          <div class="timelineRowDates">
            <p class="date">  <%= r.date %></p>
          </div>
          <div class="timelineRowMedia">
            <% _.each(r.media, function(m) { %>

              <div class="media" id="mediaId_" alt="">
                <a href="#/timeline/media/<%= m.id %>">  <img id="mediaId_" class="media" src="<%= m.mediaUrl %>" style="border: red;" alt=""></a>
              </div>
              <% }) %>
            </div>
                </div><!-- end timelineRow-->
            <% }) %>

        </div><!-- end timeline -->
      </script>

      <script id="row" type="text/template">

      </script>

      <script id="mediaShow" type="text/template">

        <div class='masthead'>

      <div class="back"><a href="index.html"><span>←</span> Back</a></div>
      <div class="logo">
        <div><a href="index.html">Ida</a></div>
      </div>
      <div class="sort disabled">
      <div>
        <div class="sort-text">
          Sort
        </div>
        <svg width="23px" height="23px" viewBox="0 0 23 23">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard-52" fill="#E4B17D">
            <g id="Clock">
                <path d="M11.5,20.5 C16.4705627,20.5 20.5,16.4705627 20.5,11.5 C20.5,6.52943725 16.4705627,2.5 11.5,2.5 C6.52943725,2.5 2.5,6.52943725 2.5,11.5 C2.5,16.4705627 6.52943725,20.5 11.5,20.5 L11.5,20.5 Z M11.5,19.5 C7.081722,19.5 3.5,15.918278 3.5,11.5 C3.5,7.081722 7.081722,3.5 11.5,3.5 C15.918278,3.5 19.5,7.081722 19.5,11.5 C19.5,15.918278 15.918278,19.5 11.5,19.5 L11.5,19.5 Z" id="Oval-34"></path>
                <path d="M11.5,22.5 C17.5751322,22.5 22.5,17.5751322 22.5,11.5 C22.5,5.42486775 17.5751322,0.5 11.5,0.5 C5.42486775,0.5 0.5,5.42486775 0.5,11.5 C0.5,17.5751322 5.42486775,22.5 11.5,22.5 L11.5,22.5 Z M11.5,21.5 C5.9771525,21.5 1.5,17.0228475 1.5,11.5 C1.5,5.9771525 5.9771525,1.5 11.5,1.5 C17.0228475,1.5 21.5,5.9771525 21.5,11.5 C21.5,17.0228475 17.0228475,21.5 11.5,21.5 L11.5,21.5 Z" id="Oval-34"></path>
                <path d="M15.3010153,14.6342806 L11.8409535,11.4085283 L12,11.7742477 L12,11.7741874 L12,11.7740069 L12,11.773287 L12,11.770425 L12,11.7591177 L12,11.7150154 L12,11.5476199 L12,10.9501465 L12,9.13712386 L12,6.5 L12,6 L11,6 L11,6.5 L11,9.13712386 L11,10.9501465 L11,11.5476199 L11,11.7150154 L11,11.7591177 L11,11.770425 L11,11.773287 L11,11.7740069 L11,11.7741874 L11,11.7742477 L11,11.991691 L11.1590465,12.1399671 L14.6191083,15.3657194 L14.9848277,15.7066729 L15.6667347,14.9752341 L15.3010153,14.6342806 L15.3010153,14.6342806 Z" id="Line"></path>
              </g>
          </g>
      </g>
      </svg>
      </div>
      </div>
    </div>

        <div class="media-container">
          <div class="previous">←</div>
          <div class="next">→</div>

          <div class="image-card small">
            <img class="media" id="mediaId_" src="<%= mediaUrl %>" alt="">
          </div>

          <div class="media-card">
            <div class="media-card-bg">
            <h3><%= timestamp.split("+")[0] %></h3>
            <div class="post-information">
            <div class="time-stamp">  <a href='http://twitter.com/<%= username %>'  target='_blank'>@<%= username %></a></div>
            <div class="retweets-count"><span><a href='<%= tweetUrl %>'  target='_blank'>RT’s – <%= retweetsCount %></a></span></div>
            </div>
            <div class="description">
              <p><%= description %></p>
            </div>
            <div class="hashtags">
              <% _.each(hashtag, function(h) { %>
            <a href="http://twitter.com/hashtag/<%= h %>" target="_blank">#<%= h %></a>
            <%}) %>
            </div>
            <div class="source">
              <a href='<%= tweetUrl %>' target='_blank'>Source</a>
            </div>

            </div>
          </div>
        </div>
      </script>

      <script type="text/javascript" src="vendor/jquery.min.js"></script>
      <script type="text/javascript"  src="vendor/underscore-min.js"></script>
      <script type="text/javascript"  src="vendor/backbone-min.js"></script>
      <script src="./vendor/backbone.touch.js"></script>


      <script src="./config.js"></script>
      <script src="./models.js"></script>
      <script src="./views.js"></script>
      <script src="./collections.js"></script>
      <script src="./router.js"></script>
      <script src="./app.js"></script>
      <script src="./seeds.js"></script>

    </body>
    </html>
